/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	section#whatarewe {
		form {
			select#country, select#education {
				max-width: 340px;
			}

			select#education {
				margin: 20px auto 0px auto;
			}

			input#searching {
				max-width: 280px;
			}
		}
	}

	section#posts {
		div.wrapper5, div.wrapper6, div.wrapper11 {
			div.col-lg-3 {
				img {margin-left: 15px;}
			}

			figcaption {
				left: 7%;
			}
		}

		div.wrapper5, div.wrapper11 {
			margin-bottom: 45px;
				div.col-lg-3 {
					img {margin-left: 15px;}
				}
				figcaption {
					top: 27%;
					left: 6%;
				}
		}
	}

	section#offer {
		div.hovered {
			width: 100%;
			display: block;
		}

		hr {
			margin: 20px auto;
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}

		div.col-lg-6 {
			text-align: center;
		}
	}

	footer {
		form {
			div.footerform {
				max-width: 400px;
					span {
						margin: 0 10px;
					}

					input[type="email"] {
						max-width: 210px;
					}

					button[type="submit"] {
						margin: 0 auto 0 5px;
					}
			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	header {
		button#menu {
			text-align: right;
		}

		ul#navigationMD {
			li {
				a {padding: 10px 0px;}
			}
		}
	}

	section#filter {
		h6 {margin-left: 60px;}

		ul.filter {margin-left: 150px;}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	header {
		form {
			max-width: 210px;
			input[type="search"] {
				max-width: 95px;
			}
		}
	}

	section#whatarewe {
		form {
			select#country, select#education {
				max-width: 220px;
			}

			select#education {
				max-width: 260px;
				margin: 0px auto 0px 15px;
			}

			input#searching {
				max-width: 440px;
			}
		}
	}

	section#filter {
		h6 {margin-left: auto;}

		ul.filter {margin-left: auto;}
	}

	section#posts {
		div.wrapper4, div.wrapper7 {
			margin-top: 0px;
				figcaption {
					top: 33%;
				}

		}
	}

	section#offer {
		div.col-lg-6 {
			p {
				text-align: left;
				margin: 0 auto 140px 20px;
			}
		}

		div.text-right {
			text-align: right;
		}
	}

	footer {
		form {
			div.footerform {
				max-width: 500px;
					span {
						margin: 0 20px;
					}

					input[type="email"] {
						max-width: 275px;
					}

					button[type="submit"] {
						margin: 0 auto 0 20px;
					}
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	header {
		form {
			max-width: 239px;
			input[type="search"] {
				max-width: 100px;
			}
		}
	}

	section#posts {
		div.wrapper4, div.wrapper7 {
			margin-top: 45px;
				figcaption {
					top: 41%;
				}

		}

		div.wrapper5 {
			margin-bottom: 0px;
				div.col-lg-3 {
					img {margin-left: 15px;}
				}
				figcaption {
					top: 31%;
					left: 7%;
				}
		}
	}

	section#offer {
		div.hovered {
			width: auto;
			display: inline-block;
		}

		hr {
			margin: 0 auto;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}

	section#offer {
		div.col-lg-6 {
			p {
				margin: 0 40px 140px 30px;
			}
		}
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	header {
		form {
			max-width: 225px;
			input[type="search"] {
				max-width: 100px;
			}
		}
	}

	section#posts {

		div.wrapper5, div.wrapper6, div.wrapper11 {
			div.col-lg-3 {
				img {margin-left: auto;}
			}

			figcaption {
				left: 11%;
			}
		}

		div.wrapper5 {
				div.col-lg-3 {
					img {margin-left: auto;}
				}
				figcaption {
					top: 27%;
					left: 11%;
				}
		}
	}
}